*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    font-size: 62.5%;
    --bg:#DDD;
    --dark:#222;
    --txthead: #ff7b00;
}

.skills{
    width: 100%;
    min-height: 88vh;
    padding: 0 5%;
}

.skills h1{
    border-bottom: 2px solid var(--dark);
    width: 100%;
    margin: 5rem auto 4rem auto;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.skills h1 .skill{
    color: var(--txthead);
}

.skillbox{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(290px,1fr));
    /* grid-template-rows: 350px 350px 350px; */
    row-gap: 4rem;
    column-gap: 5rem;
}


.pack{
    /* border: 2px solid black; */
    box-shadow: 0 0 10px var(--dark);
    border-radius: 2rem;
    padding: 1.5rem 2rem;
}

.skillbox .pack h2 i{
    color: var(--txthead);
    font-size: 8rem;
    display: block;
    text-align-last: center;
}

.skillbox .pack p{
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0;
}

@media screen and (min-width:550px){

    .pack{
        transition: all .2s ease-in-out;
    }

    .pack:hover{
        scale: .9;
        box-shadow: 0 0 40px var(--dark);
    }
}

@media screen and (max-width:550px){

    html{
        font-size: 8px;
    }


    
}